<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>458265131929-7l2cqc4pelcco7gqlhbalgks84ea4kso.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.458265131929-7l2cqc4pelcco7gqlhbalgks84ea4kso</string>
	<key>API_KEY</key>
	<string>AIzaSyDHE2F9GFs5iDuymqatb_KmA-NkiXP4x_c</string>
	<key>GCM_SENDER_ID</key>
	<string>458265131929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reactnativefirebase</string>
	<key>PROJECT_ID</key>
	<string>gameshow-2b6a8</string>
	<key>STORAGE_BUCKET</key>
	<string>gameshow-2b6a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:458265131929:ios:c4772d61f45a6e1ef8b108</string>
</dict>
</plist>